.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 540;
    background-color: #0000004c;
    user-select: none;
}
.modal {
    margin: 100px auto;
    width: 580px;
    background-color: var(--theme-color-300, #2e3644);
    border: 1px solid var(--theme-color-200, #3e495b);
    border-radius: 12px;
    min-height: 100px;
    user-select: none;
    position: relative;
    z-index: 550;
}
.header {
    color: white;
    display: flex;
    font-size: 18px;
    border-bottom: 1px solid var(--theme-color-350, #1d2634);
    height: 100%;
    padding: 10px;
}
.close {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    padding: 0;
    width: 24px;
    height: 24px;
    transition: background-color 0.15s ease-out;
    cursor: pointer;
}
.close:hover {
    background-color: rgba(255, 255, 255, 0.16);
}
