.bg::before {
    background-color: #0000004c;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 540;
    content: "";
}
.bg{
    display: flex;
    justify-content: center;
}